.gradient-custom {
    /* fallback for old browsers */
    background: #7d7386;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(129, 119, 141), rgb(126, 135, 150));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(155, 142, 168), rgb(119, 129, 147))
    }